* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f1f1;
}
.img {
    margin: 40px auto;
    width: 250px;
    height: 250px;
    background-image: url('../images/img.jpg');
    background-size: cover;
    position: relative;
    z-index: 3;
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.img::before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #0096875b;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.img:hover {
    translate: 0 -20px;
}
.img:hover::before {
    left: 0;
}
.text {
    width: 150px;
    height: 70px;
    margin: auto;
    background-color: white;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -60px;
    z-index: 4;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    box-shadow: 0 0 10px 0 #9c9c9c96;
}
.text span {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.text span:last-child {
    color: orangered;
}
.img:hover + .text {
    width: 250px;
    translate: 0 -20px;
}
.parent {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}